@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic|Lato|Inconsolata);

hr {
	margin: 4em 0;
}

body {
	max-width: 1024px;
	margin: 0 auto;

	font-family: 'Open Sans', sans-serif;
	color: #222;
}

h1, h2, h3, h4 {
	margin: 2em 0;
	font-family: 'Lato', sans-serif;
}

code {
	font-family: 'Inconsolata', monospace;
	background: #eee;
}

pre {
	padding: 1em;
	margin-bottom: 1em;
	font-size: 1.25em;
	background: #eee;
}

blockquote {
	padding: 1em;
	border-left: 1em solid #aaa;
	color: #444;
	background: #eee;
}
